.Payment {
  background-color: white;
}

.PaymentContainer h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.PaymentSection {
  display: flex;
  padding: 20px;
  margin: 0px 20px;
  border-bottom: 1px solid lightgray;
}

.PaymentTitle {
  flex: 0.2;
}

.PaymentAddress,
.PaymentItems,
.PaymentDetails {
  flex: 0.8;
}

.PaymentDetails form {
  max-width: 400px;
}

.PaymentDetails h4 {
  padding-bottom: 20px;
}

.PaymentDetails form div button {
  background: #fab999;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  border: 1px solid black;
  font-weight: bolder;
  margin-top: 10px;
  color: black;
}
